@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*NAV*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

/*ABOUT*/

.about__container {
    display: flex;
    flex-direction: column;
}

.about__search {
    width: 40%;
}

.about__logo {
    width: 60%;
}

/*SERVICES*/

.services__container {
    padding: 80px 0;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    display: flex;
    width: calc(100%/3);
}

/*QUALITY*/
.quality__container {
    display: flex;
}